<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1>Add a new comment</h1>
    <form action="/comments" method="POST" class="container glass">
        <!-- <fieldset></fieldset> -->
        <label for="username">Username : </label>
        <input type="text" name="username" id="username" style="border:none;background:transparent;" placeholder="Type Here"> 
        <br><br>
        <label for="comment" > Comment : </label>
        <textarea name="comments" id="comments" cols="30" rows="2" style="border:none;background:transparent;" ></textarea>
        <br><br><br><br>
        <button type="submit" style="margin-left:220px;margin-top: 10%;">Create</button>
    </form>
</body>
</html>