<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <section>
        <!-- <a href="/comments">Show all Comments</a> -->
        <h1>Show Page</h1>
        <div class="container glass">
        <h4>Id: <%= foundContent.id%></h4> 
        <p><strong>Username: </strong> <%= foundContent.username%></p>
        <p><strong>Comment: </strong> <%= foundContent.comments%></p>
        <a href="/comments">
        <div class="div">
            <h3>Show all Blogs</h3>
        </div>
        </a>
        </div>
    </section>
</body>
</html>